/* PC */
@media (min-width: 992px){

}
/* Tablet & Mobile */
@media (max-width: 991.98px){
    /* ẩn Navigate bar */
.navbar{
    display: none;
}
/* Đưa logo vào giữa */
.header-top{
    position: relative;
}
.header__logo{
    position: absolute;
    left: 50%;
    translate: -50% -50%;
}
/* thêm menu icon */
.menu-header__icon{
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
    width: 24px;
}
/* overlay */
.menu-overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.menu-checkbox:checked ~ .menu-overlay{
    opacity: 1;
    visibility: visible;
}
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px){

}
/* Mobile */
@media (max-width: 768px){

}

/* ẩn phần ko liên quan */
.hero,.footer,main{
    display: none;
}